<% if current_user.errors.any? %>
	<div class="alert alert-danger">
		<ul>
			<% current_user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end -%>
		</ul>
	</div>
<% end -%>

<div class="profile_edit">
	<div class="profile_edit-form">
		<div>プロフィールを変更する</div>
		<%= form_for current_user, url: users_users_profile_path, method: :patch do |f| %>
			<%= f.text_field :email, placeholder: 'email' %>
			<%= f.text_field :password, placeholder: 'password' %>
			<%= f.text_field :password_confirmation, placeholder: 'password_confirmation' %>
			<%= f.text_area :profile, placeholder: 'profile' %>
			<%= f.file_field :image %>
			<%= f.submit '更新する' %>
		<% end -%>
	</div>
</div>