<div class="profile">
	<h3>わたくしのプロフィール</h3>
	<%= image_tag @user.image_file_name if @user.image_file_name.present? %>
	<ul>
		<li>ニックネーム: <%= @user.name %></li>
		<li>出品数: <%= @user.products.size %></li>
		<li>コメント: <%= @user.profile %></li>
	</ul>
</div>