<div class="sign_in">
	<div class="sign_in-form">
		<div>サインインする</div>
		<%= form_for @user, url: users_sign_in_path, method: :post do |f| %>
			<%= f.text_field :email, placeholder: 'email' %>
			<%= f.text_field :password, placeholder: 'password' %>
			<%= f.submit %>
		<% end -%>
		<%= link_to 'ユーザー登録する', users_sign_up_path %>
	</div>
</div>