<div class="sign_up">
	<div class="sign_up-form">
		<div>ユーザー登録する</div>
		<%= form_for @user, url: users_sign_up_path, method: :post do |f| %>
			<%= f.text_field :name, placeholder: 'name' %>
			<%= f.text_field :email, placeholder: 'email' %>
			<%= f.text_field :password, placeholder: 'password' %>
			<%= f.text_field :password_confirmation, placeholder: 'password confirmation' %>
			<%= f.submit %>
		<% end -%>
	</div>
</div>