<div class="main_left_continer">
	<% if @products.present? %>
		<% @products.each do |p| %>
			<div class="product_info">
				<% if p.status === true %>
					<div class="sold">SOLD</div>
				<% end -%>
				<%= link_to image_tag(image_url_1(p)), (p.user_id === current_user.id) ? users_product_path(p) : markets_product_show_path(p) %>
				
				<p style="font-size: 15px; color: gray"><%= p.category.name %></p>
				<p>商品名: <%= p.name %></p>
				<p>価格: <%= p.price %></p>
				<% if user_signed_in? %>
					<%= link_to users_user_like_path(p) do %>
						<i class="fa fa-star fa-3x <%= p.like_by?(current_user) ? "active" : "" %>"></i>
					<% end -%>
				<% end -%>
			</div>
		<% end -%>
	<% else %>
		<p>商品はありません</p>
	<% end -%>
</div>
