<div class="main_left_continer">
	<div class="product_information">
		<h1><%= @product.name %></h1>

<!-- 		<img src="<%= @product.image1 %>" width='550'>
		<img src="<%= @product.image2 %>" width='550'>
		<img src="<%= @product.image3 %>" width='550'> -->
		
		<!-- 未登録の画像にダミーを利用する場合 -->
		<img src="<%= image_url_1(@product) %>" width='550'>
		<img src="<%= image_url_2(@product) %>" width='550'>
		<img src="<%= image_url_3(@product) %>" width='550'>

		<p>カテゴリー: <%= @product.category.name %></p>
		<h3>¥<%= @product.price.to_s(:delimited) %></h3>
		<div class="buy_btn_container"><%= link_to '購入を確定する', markets_buy_path(@product), method: :post, class: 'buy_btn' %></div>
		<p><%= @product.description %></p>
	</div>
</div>
