<div class="main_left_continer">
	<div class="product_information">
		<h1><%= @product.name %></h1>

<!-- 		<img src="<%= @product.image1 %>" width='550'>
		<img src="<%= @product.image2 %>" width='550'>
		<img src="<%= @product.image3 %>" width='550'> -->
		
		<!-- 未登録の画像にダミーを利用する場合 -->
		<img src="<%= image_url_1(@product) %>">
		<img src="<%= image_url_2(@product) %>">
		<img src="<%= image_url_3(@product) %>">

		<p>カテゴリー: <%= @product.category.name %></p>
		<h3>¥<%= @product.price.to_s(:delimited) %></h3>
		<% if @product.status === false %>
			<div class="buy_btn_container"><%= link_to '購入する', markets_purchase_path(@product), class: 'buy_btn' %></div>
		<% end -%>
		<p><%= @product.description %></p>
	</div>
</div>
