<div class="main_left_continer">
	<h3>あなたの出品商品一覧</h3>
	<% if @products.present? %>
		<% @products.each do |p| %>
			<div class="product_info">
				<%= link_to image_tag(image_url_1(p)), users_product_path(p) %>

				<p style="font-size: 15px; color: gray"><%= p.category.name %></p>
				<p>商品名: <%= p.name %></p>
				<p>価格: <%= p.price %></p>
			</div>
		<% end -%>
	<% else %>
		<p>出品商品はありません</p>
	<% end -%>
</div>



