<h3>新たな商品を登録する</h3>
<!-- ここ、@productでなぜダメか検証 -->
<%= form_for Product.new, url: users_products_path, method: :post do |f| %>
	<%= f.text_field :name, placeholder: '商品名' %>
	<%= f.text_field :price, placeholder: '価格' %>
	<%= f.text_field :description, placeholder: '商品説明' %>
	<%= f.collection_select :category_id, Category.all, :id, :name %>
	<br>
	<%= f.file_field :image1 %>
	<%= f.file_field :image2 %>
	<%= f.file_field :image3 %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<br>
	<%= f.submit '登録する' %>
<% end -%>