<div class="main_left_continer">
	<div class="product_information">
		<h1><%= @product.name %></h1>

<!-- 		<img src="<%= @product.image1 %>" width='550'>
		<img src="<%= @product.image2 %>" width='550'>
		<img src="<%= @product.image3 %>" width='550'> -->

		<!-- 未登録の画像にダミーを利用する場合 -->
		<img src="<%= image_url_1(@product) %>" width='550' height='550'>
		<img src="<%= image_url_2(@product) %>" width='550' height='550'>
		<img src="<%= image_url_3(@product) %>" width='550' height='550'>

		<p>カテゴリー: <%= @product.category.name %></p>
		<h3>¥<%= @product.price.to_s(:delimited) %></h3>
		<p><%= @product.description %></p>
		<div class="buy_btn_container"><%= link_to '商品を編集', edit_users_product_path(@product), class: 'buy_btn' %></div>
		<%= link_to 'この商品を削除する', users_product_path(@product), method: :delete, class: 'product_delete' %>
	</div>
</div>