body {
	margin: 0;
}

header {
	width: 100%;
	border-bottom: solid 1px gray;
	padding: 10px 0;
}
.header_content {
	margin: 0 auto;
	width: 860px;

}
.hello_user {
	font-size: 12px;
	p {
		margin: 0;
	}
}
header .title {
	float: left;
	color: lightblue;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}
form.search {
	float: right;
	margin-left: 30px;
}
input.search_window {
	height: 30px;
	width: 250px;
	border-radius: 30px;
	background: lightgray;
}
.button {
	/*border: solid 1px blue;*/
	background-color: gray;
	padding: 8px 25px;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	float: right;
	margin-left: 30px;
	color: #fff;
}
.my_page_container {
	float: right;
	width: 70px;
	text-align: center;
	margin-left: 20px;
	p {
		font-size: 6px;
		font-weight: bold;
		color: gray;
		margin: 0;
		text-decoration: none;
	}
}
i.my_page {
	color: gray;
}

.alert {
	margin: 10px 10px;
	padding: 2px 30px;
	text-align: center;
}

.alert-warning {
	background-color: #ffcccc;
	border: solid 1px #ff4d4d;
	color: #ff4d4d;
}

.alert-danger {
	background-color: #ffcccc;
	border: solid 1px #ff4d4d;
	color: #ff4d4d;
}

.alert-success {
	background-color: #c2f0c2;
	border: solid 1px #5cd65c;
	color: #5cd65c;
}

.alert-info {
	background-color: #c2f0c2;
	border: solid 1px #5cd65c;
	color: #5cd65c;
}
