.main_body {
	background-color: lightgray;
	padding-bottom: 50px;
}
.main_container {
	width: 860px;
	margin: 0 auto;
	padding-top: 40px;
	/*背景色が消える問題の対処*/
	overflow: hidden;
}
.main_left {
	float: left;
	width: 72%;
}
.main_right {
	float: right;
	width: 25%;
	background-color: #fff;
}


footer {
	clear: both;
	border-top: solid 1px gray;
}

.side_container {
	padding: 15px;
	h1 {
		font-size: 20px;
		margin: 0;
	}
	.side_btn {
		text-decoration: none;
	}
}


.main_left_continer {
	margin: 0 auto;
	h1 {
		font-size: 20px;
		margin: 0;
	}
}

.product_info {
	width: 44%;
	float: left;
	margin: 0 15px 15px 0;
	background-color: #fff;
    border: 1px solid lightgray;
    padding: 10px;
    text-align: center;
}

.product_information {
	width: 100%;
	padding: 30px 0;
	h1 {
		text-align: center;
		padding-bottom: 30px;
	}
	img {
		margin: 0 auto;
		display: block;
	}
	h3 {
		font-size: 30px;
	}
}
.buy_btn_container {
	width: 100%;
	height: 50px;
	background-color: #1aa3ff;

}
a.buy_btn {
	color: #fff;
	display: block;
	text-decoration: none;
	text-align: center;
	width: 100%;
    line-height: 50px;
}

.wrap {
	/*position: relative;*/
}
.image {
	position: relative;
}
.sold {
	position: absolute;
	z-index: 1;
	color: #fff;
	font-weight: bold;
	border-radius: 50%;
	background-color: tomato;
	width: 70px;
	height: 70px;
    line-height: 70px;
    margin-left: 190px;
}


