<!DOCTYPE html>
<html>
  <head>
    <title>Freemarket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <div class="main_body">
      <div class="main_container">
          <div class="main_left">
            <% flash.each do |type, message| %>
              <div class="alert alert-<%= type %>"><%= message %></div>
            <% end -%>
            
            <%= yield %>
          </div>
          <div class="main_right">
            <%= render partial: 'layouts/side_menu2' %>
          </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
