<header>
	<div class="header_content">
		<div class="hello_user">
			<% if user_signed_in? %>
			    <p>ようこそ、id: <%= current_user.id %> の <%= current_user.name %>さん</p>
			<% end -%>
		</div>
		<%= link_to 'Free Marketへ', root_path, class: 'title' %>
	    <% if user_signed_in? %>
		    <div class="my_page_container">
			    <%= link_to users_users_profile_path(current_user) do %>
			    	<i class="fa fa-address-card fa-2x my_page"></i>
				    <p>マイページ</p>
			    <% end -%>
		    </div>
	    <% end -%>
	    <%= link_to '出品する', new_users_product_path, class: 'button' %>
	      <!-- 検索フォーム -->
	    <form class="search">
	        <!-- name="word"となっているため、nameという名前でキーワードの値が送られる -->
	        <input class="search_window" type="text" placeholder="キーワードから検索" name="word" value="">
	    </form>


  	</div>
  	<div style="clear: both;"></div>
</header>


