<div class="side_container">
	<h1>マイページ</h1>
	<p><%= link_to '出品する', new_users_product_path, class: 'side_btn' %></p>
	<p><%= link_to '出品中の商品', users_products_path(current_user), class: 'side_btn' %></p>
	<p><%= link_to 'お気に入りの商品', users_user_likes_path(current_user), class: 'side_btn' %></p>
	<p><%= link_to 'プロフィールを更新', users_edit_profile_path(current_user), class: 'side_btn' %></p>
	<p>
		<% if user_signed_in? %>
		    <%= link_to 'ログアウト', users_sign_out_path(current_user), method: :delete, class: 'side_btn' %>
		<% end -%>
	</p>
</div>