<div class="side_container">
	<h1>詳細検索</h1>

	<%= form_tag(markets_search_path, method: :get)do %>
		<p>
		<%= label_tag :key_word, 'キーワード追加' %>
		<%= text_field_tag :key_word, params[:key_word], placeholder: '[例] 値下げ' %>
		</p>
		<p>
		<%= label_tag :category_id, 'カテゴリー選択' %>
		<!-- pluck()の書き方 - 表示は カテゴリーname なので、先頭に書き、idを送信に必要なので、第二引数に書く -->
		<!-- 入れ子配列の場合、最初の要素に表示名称を、次の要素に値を書く -->
		<!-- https://improve-future.com/rails-generate-option-tags-with-options_for_select.html -->
		<%= select_tag :category_id, options_for_select(Category.pluck(:name, :id), params[:category_id]), include_blank: true %>
		</p>
		<p>
			<%= label_tag :price, '価格' %>
			<%= text_field_tag :price_low, params[:price_low], placeholder: '100' %>
			<span>〜</span>
			<%= text_field_tag :price_high, params[:price_high], placeholder: '1000' %>
		</p>
		<p>
			<%= label_tag :sort, '並び替え' %>
			<%= select_tag :sort, options_for_select([['価格の高い順', :high], ['価格の安い順', :low], ['古い順', :old], ['新着順', :new]], params[:sort]), include_blank: true %>
		</p>
		<%= submit_tag '検索' %>

	<% end -%>
</div>